@font-face {
    font-family: "Helvetica";
    font-weight: 100;
    src: url("fonts/Helvetica.woff") format("woff2");
}

body {
    background-color: #d6d6d6;
    font-family: "helvetica";
    font-weight: normal;
    margin: auto;
    overflow-x: hidden;
}

.opening {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 1.5em;
    border-top: solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 40px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}

.topbar {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    background: #d6d6d6;
    z-index: 1000;
    margin: 0;
    letter-spacing: 0.05em;
    padding-top: 5px;
}

h1 {
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 16px;
    border-bottom: solid 1px rgb(0, 0, 0);
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-title {
    font-family: "helvetica";
    font-weight: bolder;
    font-size: 150px;
    text-align: center;
    line-height: 1.2;
    vertical-align: top;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    max-width: 80%;
    min-width: 40%;
    text-transform: uppercase;
}


/**.sun_title {
    padding-top: 100px;
    border-bottom: solid 2px rgb(0, 0, 0);
}

.figs_title {
    padding-top: 100px;
    border-bottom: solid 2px rgb(0, 0, 0);
}

.fish_title {
    padding-top: 100px;
    border-bottom: solid 2px rgb(0, 0, 0);
}
/**/

a {
    text-decoration: none;
    color: #000000;
    transition: all 500ms;
}

a:hover {
    color: #000000;
    letter-spacing: 0.02em;
}

.topbar:hover {
    letter-spacing: 0.5em;
}

.suntitle {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 300px;
    padding-left: 80px;
    padding-top: 100px;
    display: block;
    width: 100%;
    border-bottom: solid 5px black;
    margin: 0;
}

.fishshop_title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 200px;
    padding-left: 80px;
    padding-top: 100px;
    display: block;
    width: 100%;
    border-bottom: solid 5px black;
    margin: 0;
    padding-bottom: 50px;
}

.figstitle {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 350px;
    padding-left: 80px;
    padding-top: 100px;
    display: block;
    width: 100%;
    border-bottom: solid 5px black;
    margin: 0;
    padding-bottom: 50px;
}

.flexbox-1,
.flexbox-2,
.flexbox-3 {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 50px;
    flex-wrap: wrap;
}

.article-sun-1,
.article-sun-2,
.article-sun-3 {
    max-width: 60%;
    min-width: 30%;
    text-align: left;
    padding: 30px;
    padding-top: 0;
    line-height: 1.6;
    font-weight: normal;
    font-size: 24px;
    border-right: solid 1px rgb(0, 0, 0);
}

.big {
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.3em;
    border-top: solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 60px;
    font-weight: bolder;
}

.facts-sun1,
.facts-sun2,
.facts-sun3 {
    max-width: 15%;
    text-align: left;
    padding: 30px;
    padding-top: 0;
    padding-left: 10px;
    line-height: 1.6;
    font-size: 16px;
    position: sticky;
    align-self: flex-start;
    top: 60px;
    font-weight: lighter;
}

ul {
    list-style: none;
}

.Michelangelo img {
    width: 100%;
    width: 100%;
    transition: opacity 500ms;
}

.monet {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.monetimg {
    opacity: 30%;
    max-width: 100%;
    transition: opacity 500ms;
}

.monetimg:hover {
    opacity: 100%;
}

.monet-text {
    padding: 15px;
    background-color: white;
    outline: 1px solid #000000;
    outline-offset: -5px;
    font-size: 14px;
    width: fit-content;
    position: absolute;
    text-align: left;
    bottom: -25px;
    right: 50px;
    text-transform: uppercase;
    line-height: 1.5em;
}

.Michelangelo {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.Michelangelo-text {
    padding: 15px;
    background-color: white;
    outline: 1px solid #000000;
    outline-offset: -5px;
    font-size: 14px;
    width: fit-content;
    position: absolute;
    text-align: left;
    bottom: -25px;
    right: 50px;
    text-transform: uppercase;
    line-height: 1.5em;
}

.michelangeloimg {
    opacity: 30%;
    width: 100%;
    transition: opacity 500ms;
}

.michelangeloimg:hover {
    opacity: 100%;
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 25px;
    --move-initial: calc( -40% + var(--offset));
    --move-final: calc( -20% + var(--offset));
}

.marquee+.marquee {
    padding-top: -1px;
}

.marquee-figs {
    position: relative;
    overflow: hidden;
    --offset: 25px;
    --move-initial: calc( -20% + var(--offset));
    --move-final: calc( -40% + var(--offset));
}

.marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
}

.marquee span {
    font-family: " 'Cormorant Garamond', serif";
    font-size: 30px;
    font-weight: normal;
    padding: 0 100px;
    color: #000000;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
    white-space: nowrap;
}

.marquee:hover .marquee-inner {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

footer {
    padding-bottom: 80px;
}

.myvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow-x: hidden;
    object-position: center;
    object-fit: cover;
}